body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

hr {
	border: none;
	margin: 0;
}

div.bar {

}

div.bar > ul {
	margin: 0;
	list-style-type: none;
}

div.bar > ul > li {
	/*float: left;*/
	display: inline-block;
	cursor: pointer;
}

div.bar > ul > li > div {
	display: inline-block;
}

div.bar > ul > li > div:last-child {
	padding-left: 15px;
	color: #ccc;
}

div.bar > ul > li > div:last-child:hover {
	font-weight: bold;
	color: white;
}

div.bar > ul:nth-child(1) > li {
	float: left;
}

div.bar > ul:nth-child(2) > li {
	float: right;
}

div.bar > ul:nth-child(2):after {
	clear: both;
	width: 0;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	content: ".";
	display: block;
}

div.content {
	overflow: auto;
}

div.bar > ul > li#config:hover > i {
	-webkit-animation: fa-spin 2s infinite linear;
  	animation: fa-spin 2s infinite linear;
}

div.info {
	padding: 0 20px;
}

div.loading {
	position: fixed;
	width: 200px;
	height: 5px;
}

div.loading > div {
	width: inherit;
	height: inherit;
}

div.logselect {
	padding: 15px 10px;
}

div.logselect > a {
	display: block;
}

div.logselect > a.open::after {
	display: inline-block;
	
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	content: "\f08e";
	font-size: 9px;
	margin-left: 5px;
}

div.config {
	padding-right: 15px;
}

div.config > div.rule {
	border: 1px solid black;
	padding: 5px;
	margin-bottom: 5px;
}

div.config > input {
	margin-right: 10px;
}

div.config textarea {
	width: 500px;
	height: 150px;
}

div.config input#delete {
	margin-left: 10px;
	background: #CC0000;
}

div.config div.rule > div {
	cursor: pointer;
}

div.dragmenu > span {
	padding: 2px;
}

.fade {
	transition: color 1s;
	color: rgba(0,0,0,0) !important;
}

.tailerror:before {
	position: relative;
	left: -20px;
	width: 10px;
	display: inline-block;
	height: 1em;
	background-color: red;
	content: ".";
}

div.split-horizontal > div:first-of-type {
	float: left;
}

div.split-horizontal > div:last-of-type {
	float: right;
}

div.splitter {
	width: 5px;
}

div.split:after {
	clear: both;
	display: block;
	visibility: hidden;
	content: ".";
	height: 1px;
	width: 1px;
}

div.dragmenu {
	position: absolute;
	text-align: center;
}

div.dragmenu > div {
	margin: 0 auto;
}

div.dragmenu > div > span {
	margin: 1px;

	width: 19px;
	line-height: 19px;
	height: 19px;

	font-size: 15px;
	display: block;

	float: left;
}

div.splitpreview {
	position: absolute;
}

div.splitter {
	width: 5px;
	height: 5px;
	float: left;
}

div.split-horizontal > div.splitter {
	cursor: e-resize;
}

div.split-vertical > div.splitter {
	cursor: n-resize;
}
