<table>
	<tr>
		<td colspan="2"><h3>Information</h3></td>
		<td>&nbsp;</td>
		<td colspan="2"><h3>Styling</h3></td>
	</tr>
	<tr>
		<td>Pattern:</td>
		<td><input type="text" id="pattern" /></td>
		<td>&nbsp;</td>
		<td>Font color:</td>
		<td><input type="checkbox" id="enableFontColor" /><input type="color" value="#000000" id="fontColor" /></td>
	</tr>
	<tr>
		<td>Mark whole line:</td>
		<td><input type="checkbox" id="markLine" /></td>
		<td>&nbsp;</td>
		<td>Background color:</td>
		<td><input type="checkbox" id="enableBgColor" /><input type="color" value="#ffc000" id="bgColor" /></td>
	</tr>
	<tr>
		<td>Block other rules:</td>
		<td><input type="checkbox" id="blocking" /></td>
		<td colspan="3"></td>
	</tr>
	<tr>
		<td colspan="5"><h3>Advanced Styling (CSS)</h3></td>
	</tr>
	<tr>
		<td colspan="5">
			<textarea id="cssStyle">element {

}</textarea>
		</td>
	</tr>
	<tr>
		<td colspan="5">
			<input type="button" value="Save" />
			<input type="button" value="Move Up" id="moveUp" />
			<input type="button" value="Move Down" id="moveDown" />
			<input type="button" value="Delete" id="delete" />
		</td>
	</tr>
</table>