<h2>OnTail</h2>
<p>
	OnTail is a small open source project to tail logfiles that are accessible via http.<br />
	If you are interested in the code or even want to contribute, check out the repository:<br />
	<br />
	<i class="fa fa-code"></i> <a href="https://bitbucket.org/Erquu/ontail">OnTail BitBucket repository</a>
</p>