<style>
	.welcome {
		background: rgb(40, 44, 52);
		color: #ccc;
	}

	div#welcome_content {
		text-align: center;
	}

	div#welcome_content > h1 {
		font-size: 40px;
	}

	div#welcome_content > p > a {
		padding: 20px;
		margin: 0 auto 10px;
		display: block;
		width: 300px;
		border: 1px solid rgb(33, 37, 43);
		border-radius: 5px;
		text-align: left;
		font-size: 14px;

		text-decoration: none;
		color: #ccc;
		background: rgb(47, 51, 61);
	}

	div#welcome_content > p > a > span {
		color: white;
	}

	div#welcome_content > p > a:hover > span {
		color: #00D9D9;
	}
</style>

<div id="welcome_content">
	<h1>OnTail</h1>
	<h4>Getting started:</h4>
	<p>
		<a href="#" id="welcome_selectlog">
			<i class="fa fa-file"></i>
			Select a <span>logfile</span>
		</a>
		<a href="#" id="welcome_opensettings">
			<i class="fa fa-cog"></i>
			Open the <span>settings</span>
		</a>
	</p>
</div>