body {
	background: rgb(40, 44, 52);
}

hr {
	border-top: 1px solid #ccc;
}

div.bar {
	background: rgb(33, 37, 43);
}

div.bar > ul > li {
	line-height: 30px;
	padding: 0 10px;
	margin: 0;
	/*font-family: consolas;*/
	font-size: 12px;
	color: white;
	border-bottom: 2px solid rgb(33, 37, 43);
}

div.bar > ul > li.update {
	border-bottom: 2px dashed #00D9D9;

	-moz-animation: update 1s infinite alternate linear;
	-webkit-animation: update 1s infinite alternate linear;
	animation: update 1s infinite alternate linear;
}

@-moz-keyframes update { from { border-bottom: 2px dashed #666; } to { border-bottom: 2px dashed #00D9D9; } }
@-webkit-keyframes update { from { border-bottom: 2px dashed #666; } to { border-bottom: 2px dashed #00D9D9; } }
@keyframes update { from { border-bottom: 2px dashed #666; } to { border-bottom: 2px dashed #00D9D9; } }

div.bar > ul > li:hover,
div.bar > ul > li.active {
	background: rgb(40, 44, 52);
	border-bottom: 2px solid #00D9D9;
}

div.bar > ul > li > div > i.fa {
	visibility: hidden;
}

div.bar > ul > li:hover > div > i.fa {
	visibility: visible;
}

div.bar > ul > li[draggable="true"] {
	border-left: 2px solid rgba(0,0,0,0);
	border-right: 2px solid rgba(0,0,0,0);
}

div.bar > ul > li[draggable="true"].dragLeft {
	border-left: 2px solid #00D9D9;
}

div.bar > ul > li[draggable="true"].dragRight {
	border-right: 2px solid #00D9D9;
}

div.bar > ul > li:hover {
	background: #00D9D9;
}

div.content {
	padding-left: 15px;
	color: #ccc;
}

div.content a {
	color: #ccc;
}

div.content a:hover {
	text-decoration: none;
}

div.content input[type="text"] {
	border: 1px solid rgb(33, 37, 43);
	border-radius: 5px;

	padding: 3px;

	transition: box-shadow .2s;
}

div.content > input[type="text"]:focus {
	box-shadow: 0 0 10px #00D9D9;
}

div.popup {
	padding: 10px;

	color: white;
	background: #666;
	box-shadow: 0 0 15px black;
}

div.popup > h3 {
	margin: 0 0 10px 0;
}

div.about {
	background: rgba(200, 200, 200, 0.6);
	padding: 50px;

	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 20px;
	/*color: white;*/
}

div.dragmenu {
	width: 80px;
}

div.dragmenu > div > span {
	background: linear-gradient(to bottom, #00D9D9 0%, rgb(40, 44, 52) 100%);

	color: white;
	border: 1px solid white;

	border-radius: 2px;
}

div.dragmenu > div:first-child > span:not(:nth-child(2)),
div.dragmenu > div:last-child > span:not(:nth-child(2)) {
	border-color: rgba(0,0,0,0);
	background: none;
}

div.splitpreview {
	background: rgba(0, 217, 217, 0.5);
}

div.splitter {
	background: rgb(33, 37, 43);
}
