body {
	background: black;
}

hr {
	border-top: 1px solid #00FF00;
}

body > ul {
	border-bottom: 1px solid #00FF00;
}

body > ul > li {
	line-height: 30px;
	padding: 0 10px;
	margin: 0;

	font-family: consolas;
	font-size: 12px;
	color: white;
}

body > ul > li.update {
	-moz-animation: update 1s infinite alternate linear;
	-webkit-animation: update 1s infinite alternate linear;
	animation: update 1s infinite alternate linear;
}

@-moz-keyframes update { from { color: white; } to { color: #00FF00; } }
@-webkit-keyframes update { from { color: white; } to { color: #00FF00; } }
@keyframes update { from { color: white; } to { color: #00FF00; } }

body > ul > li:hover,
body > ul > li.active {
	color: #00FF00;
}

body > ul > li#add:hover,
body > ul > li#about:hover {
	 background: #00FF00;
	 color: black;
}

body > div#content {
	padding-left: 20px;

	/*font-family: Consolas;*/
	font-family: Consolas, Monaco, monospace;
	font-size: 12px;
	color: #00FF00;
}

body > div.popup {
	padding: 10px;

	color: white;
	background: #666;
	box-shadow: 0 0 15px black;
}

body > div.popup > h3 {
	margin: 0 0 10px 0;
}

body > div.about {
	background: rgba(200, 200, 200, 0.6);
	padding: 50px;

	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 20px;
	/*color: white;*/
}