body {
	background: #FDF6E3;
}

hr {
	border-top: 1px solid #ccc;
}

body > ul {
	background: #979388;
}

body > ul > li {
	line-height: 30px;
	padding: 0 10px;
	margin: 5px 5px 0 0;

	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 12px;
	color: black;

	border-radius: 5px 5px 0 0;
}

body > ul > li:not(.active) {
	background: #A5A5A5;
	background: -moz-linear-gradient(top, #C9C0A6, #938B74);
}

body > ul > li.update {
	-moz-animation: update 1s infinite alternate linear;
	-webkit-animation: update 1s infinite alternate linear;
	animation: update 1s infinite alternate linear;

    /*-webkit-box-shadow: inset 0 -10px 10px -10px #666;*/
	/*box-shadow: inset 0 -10px 10px -10px #666;*/
}

@-moz-keyframes update { from { -moz-box-shadow: none; } to { -moz-box-shadow: inset 0 -10px 10px -10px #FDF6E3; } }
@-webkit-keyframes update { from { -webkit-box-shadow: none; } to { -webkit-box-shadow: inset 0 -10px 10px -10px #FDF6E3; } }
@keyframes update { from { box-shadow: none; } to { box-shadow: inset 0 -10px 10px -10px #FDF6E3; } }

body > ul > li:hover,
body > ul > li.active {
	background: #FDF6E3;
	color: black;
}

body > ul > li#add:hover,
body > ul > li#about:hover {

}

body > div#content {
	padding-left: 20px;

	/*font-family: Consolas;*/
	font-family: Consolas, Monaco, monospace;
	font-size: 12px;

	color: #333;
}

body > div.popup {
	padding: 10px;

	color: white;
	background: #666;
	box-shadow: 0 0 15px black;
}

body > div.popup > h3 {
	margin: 0 0 10px 0;
}

body > div.about {
	background: rgba(200, 200, 200, 0.6);
	padding: 50px;

	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 20px;
	/*color: white;*/
}

body > div.loading {
	background: rgba(150, 150, 150, 0.6);
}